@{
    ViewData["Title"] = "Update Dish";
    <link rel="stylesheet" href="~/css/style.css">
}

@{
    int[] tastiness = new int[]
            {
1,2,3,4,5
            };
}

@model Dish

<div class="text-center">
    <partial name="HomePartial" />
    <h1>Edit @Model.Name!</h1>
    <form asp-action="Update" asp-controller="Home" method="post">
        <div class="formBox">

            <div class="mb-3">
                <label asp-for="Chef" class="form-label"></label>
                <span asp-validation-for="Chef"></span>
                <div class="col">
                    <input asp-for="Chef" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name"></span>
                <div class="col">
                    <input asp-for="Name" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Calories" class="form-label"></label>
                <span asp-validation-for="Calories"></span>
                <div class="col">
                    <input asp-for="Calories" class="form-control">
                </div>
            </div>
        </div>
        <div class="formBox">
            <div class="mb-3">
                <label asp-for="Tastiness" class="form-label"></label>
                <span asp-validation-for="Tastiness"></span>
                <div class="col">

                    <select asp-for="Tastiness" size="1" class="form-select form-select-lg mb-3">
                        <option selected disabled>Select Tastiness</option>
                        @foreach (var t in tastiness)
                        {
                            <option value="@t">@t</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="formBox">
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <span asp-validation-for="Description"></span>
                <div class="col">
                    <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Edit Dish</button>
        </div>
    </form>
</div>
